body {
    font-family: sans-serif;
    background-color: #eaeaea;
    text-align: center;
}

.box {
    width: 360px;
    background: white;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
}

.buttons {
    margin-top: 12px;
}

button {
    width: 45%;
    padding: 8px;
    margin: 5px;
}

#text,
#output {
    background: #f2f2f2;
    padding: 10px;
    margin-top: 5px;
}

#msg {
    color: red;
}